DB_USER=
DB_NAME=
DB_PASSWORD=

#openssl rand -base64 32
AUTH_SECRET=

MP_ACCESS_TOKEN=
NEXT_PUBLIC_MP_CLIENT_ID=

NEXT_PUBLIC_EPAYCO_KEY=
NEXT_PUBLIC_EPAYCO_PRIVATE_KEY=
NEXT_PUBLIC_EPAYCO_CHECKOUT_URL=

NEXT_PUBLIC_PAYCO_RESPONSE_URL=
NEXT_PUBLIC_PAYCO_CONFIRMATION_URL=

#* URL de mi aplicación (pruebas: http://localhost:3000 || producción: https://midominio.com)
NEXT_PUBLIC_API_URL=

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgres://default:ZEM4FuabIQe2@ep-twilight-snow-a4o3cihv.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
DATABASE_URL="postgresql://postgres:admin@localhost:5432/celuantioquia?schema=public"

# Autenticación Google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=