@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */ 

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
      )
      rgb(var(--background-end-rgb))
} */



@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply flex items-center text-center justify-center bg-gradient-to-r from-lime-700 to-lime-600 rounded mt-3 lg:mt-0 py-2 w-full text-white font-semibold hover:cursor-pointer shadow-xl hover:scale-105 transition-all duration-150;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-disabled {
  @apply bg-gray-600 text-white py-2 px-4 rounded transition-all;
}